@import "utils.scss";

.ring, .blast, .confetti {
    @include valign;
    @include halign;
}

div.ring, div.blast, div.confetti {
    opacity: 0;
}

@each $className in ring, blast, confetti {
    img.#{$className} {
        content: url64('../images/counter_fx/' + $className + '.png');
        width: 100%;
    }
}

@keyframes ring_fx {
    from {
        transform: rotate(0) scale(0.5);
        opacity: 0.6;
        filter: brightness(100%);
    }
    40% {
        filter: brightness(150%);
    }
    to {
        transform: rotate(90deg) scale(1.2);
        opacity: 0;
        filter: brightness(100%);
    }
}

div.ring.animate {
    $RING_DURATION: custom_field('counter_effect_ring_duration') + ms;
    animation: ring_fx $RING_DURATION ease-out;
}

@keyframes blast_fx {
    from {
        transform: rotate(0deg) scale(0.6);
        opacity: 1;
        filter: brightness(100%);
    }

    40% {
        opacity: 0.6;
        filter: brightness(200%);
    }

    to {
        transform: rotate(90deg) scale(1);
        opacity: 0;
        filter: brightness(100%);
    }
}

div.blast.animate {
    $BLAST_DURATION: custom_field('counter_effect_blast_duration') + ms;
    animation: blast_fx $BLAST_DURATION ease-out;
}

@keyframes confetti_fx {
    from {
        transform: scale(0.1);
        opacity: 1;
    }
    to {
        transform: scale(0.5);
        opacity: 0;
    }
}

div.confetti.animate {
    $CONFETTI_DURATION: custom_field('counter_effect_confetti_duration') + ms;
    animation: confetti_fx $CONFETTI_DURATION ease-out;
}

