@import "nuisance.scss";
@import "counter_fx.scss";
@import "spells.scss";
@import "queue.scss";
@import "utils.scss";

#wrap {
    width: 100%;
    height: 100%;
    position: relative;
    #main {
        @include aspect_ratio(100, 20);
        @include valign;
        @include halign(1vw, 3vw);
    }
}
