@import "utils.scss";

.queue_bg {
    box-sizing: border-box;
    height: 100%;
    @include halign;
    overflow: hidden;

    $GRADIENT_START_COLOR: custom_field('queue_gradient_start');
    $GRADIENT_END_COLOR: custom_field('queue_gradient_end');
    $GRADIENT_DIRECTION: custom_field('queue_gradient_direction') + deg;
    background: linear-gradient($GRADIENT_DIRECTION, $GRADIENT_START_COLOR, $GRADIENT_END_COLOR);

    $OUTER_BORDER_COLOR: custom_field('queue_outer_border_color');
    $INNER_BORDER_COLOR: custom_field('queue_inner_border_color');
    border-radius: 100vw 100vw;
    border: $INNER_BORDER_COLOR 5px solid;
    box-shadow: $OUTER_BORDER_COLOR 5px 5px 0;

    .dotted_bg {
        position: absolute;
        width: 500%;
        height: 500%;

        $DOT_SIZE: custom_field('dotted_bg_dot_size') + px;
        $DOT_SPACING: custom_field('dotted_bg_dot_spacing') + px;
        $DOT_DISTANCE: calc(#{$DOT_SIZE} + #{$DOT_SPACING});
        background: linear-gradient(90deg, black $DOT_SPACING, transparent 0%) center,
        linear-gradient(black $DOT_SPACING, transparent 0%) center, white;
        background-size: $DOT_DISTANCE $DOT_DISTANCE;
        transform: translate(-50%, -50%) rotate(30deg);
        mix-blend-mode: screen;
        opacity: 0.8;
    }
}

