@function custom_field($field_name) {
    @return unquote("{" + $field_name + "}")
}

@mixin aspect_ratio($width, $height) {
    padding-bottom: $height / $width * 100%;
    height: 0;
}

@mixin halign($left: 0, $right: 0) {
    position: absolute;
    margin-left: auto; margin-right: auto;
    left: #{$left}; right: #{$right};
}

@mixin valign($top: 0, $bottom: 0) {
    position: absolute;
    margin-top: auto; margin-bottom: auto;
    top: #{$top}; bottom: #{$bottom};
}

@mixin pseudo_img($path, $background_size: "contain", $ratio_w: pngwidth($path), $ratio_h: pngheight($path)) {
    &:before {
        content: "";
        display: block;
        background: url64($path) no-repeat;
        background-size: #{unquote($background_size)};
        @include aspect_ratio($ratio_w, $ratio_h);
    }

    display: inline-block;
}
